.slider {
    overflow: hidden;
    width: 100%;
    height: 1536px;

    &__slidesBlock {
        display: flex;
    }

    &__slidesStripe {
        display: flex;
        position: relative;
        
        transition: .5s;
    }
}